extends _layout

block vars
	- array = {body_class:'', layout_mod:'', sub_keywords:'', title_inner:'HOME'}
block content_block
	section.mb3.hero(style="background-image: url('../../i/hero.jpg')") 
		.section_in 
			.hero_main 
				h1 Узнайте стоимость ремонта вашей квартиры в Краснодаре
				p.custom-desk.hero_description Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
				.hero_bottom 
					+btn({
						name: 'Узнать стоимость',
						color: 'vio',
						type: 'button',
						target: 'form',
						class: 'big-mode'
					})
					ul.social_list 
						each item in ['wa', 'tg', 'vk']
							li 
								a(href="#")
									img(src=`i/social/${item}.png`, alt=item)
	section.homeService.p100 
		.section_in 
			.homeService_main 
				h2 Наши услуги
				p.custom-desk Разработка и реализация дизайна интерьера. Выполнение ремонта под ключ. Отделочные работы любой сложности. Комплектация материалом. Помощь в приеме квартиры от застройщика.
				ul.homeServices_list.grid-4 
					-for(i = 0; i < 4; i++)
						- let title = ['Косметический ремонт', 'Капитальный ремонт', 'Ремонт по дизайн-проекту', 'Индивидуальный проект']
						- let txt = ['Замена поврежденной или устаревшей отделки в квартире.', 'Чистовая отделка квартиры, включающая помимо основных работ перепланировку помещения.', 'Отделка квартиры согласно дизайн-проекту и технической документацией', 'Бесплатные консультации с нашими дизайнерами, авторский надзор']
						- let price = ['от 4000 р/м²', 'от 9000 р/м²', 'от 10 000 р/м²', 'от 18 000 р/м²']
						li.homeService_item
							.homeService_item--head  
								.homeService_img 
									img(src=`i/service/service-${i}.jpg`, alt=`service-${i}`)
								.homeService_item_content 
									h3.fz23=title[i]
									p=txt[i]
							.homeService_item_bottom 
								span=price[i]
								+btn({
									name: 'Заказать',
									color: 'light',
									type: 'button',
									target: 'form',
								})
	section.about.p100 
		.section_in 
			.about_main 
				.about_content
					h3 О компании
					.about_txt.global_txt 
						p Выполняем ремонт, отделочные работы и перепланировку квартир, домов и коммерческих помещений в Краснодаре. Отделка по эксклюзивному дизайн-проекту, под ключ и любой сложности. Сдача работы после проверки технического надзора "из рук в руки" и удаленно.
						p Наша команда строит приятное воспоминание вместе с Вами.
					.about_form 
						+input({
							place: 'Ваше имя',
						})
						+input({
							place: 'Ваш телефон',
							type: 'tel',
						})
						.about_form_bottom 
							+btn({
								color: 'vio',
								type: 'submit',
							})
							.form_notice!='Отправляя форму, вы соглашаетесь с <a href="/" target="_blank">политикой конфиденциальности.</a>'
				.about_img 
					img(src="i/about.jpg", alt="")
	section.advant.p100 
		.section_in
			.advant_main 
				.advant_head 
					h4 Наши преимущества
					p.custom-desk Почему мы Вам понравимся? Мы работаем в белую. Все скидки наших поставщиков - ваши!
				ul.advant_grid.grid-4
					-for(i = 0; i < 6; i++)
						- let aTitle = ['Цена известна заранее', 'Дизайн-проект', 'Гарантия на ремонт', 'Качественные материалы', 'Специалисты своего дела', 'Поэтапная оплата']
						- let aTxt = ['Она фиксирована. Мы составляем план и смету в течение 2х дней после приезда замерщика.', 'Вы можете обратиться с готовым проектом или заказать у нас.', 'На все ремонтные работы мы даем официальную гарантию 18 месяцев.', 'Закупка и доставка Ваших материалов на наших плечах. Предоставляем рекомендации для выбора материалов.', 'Мы за разделение труда. Над каждым этапом работают специалисты узкого профиля. Все работы по СП и СНиП', 'Поэтапная оплата ремонта. Прием работ Заказчиком и оплата поделены на части.']
							li.advant_item 
								.advant_item_img
									img(src=`i/advant/advant-${i}.svg`, alt=`advant-${i}`)
								.advant_item_content 
									h3.fz23=aTitle[i]
									p=aTxt[i]
	section.tehnical.p100 
		.section_in 
			.tehnical_main(style="background-image: url('../../i/tehnical.jpg')") 
				.tehnical_txt--w
					h3.fz25 Технический надзор
					p Каждый этап работ контролируется инженером тех.надзора и предоставляется еженедельный фото- и видеоотчет.
					+btn({
						color: 'vio',
						name: 'Рассчитать стоимость',
						type: 'button',
						target: 'form',
					})
	section.remont.p100 	
		.section_in 
			.remont_main 
				h5.mb8 Cжатые сроки ремонта
				ul.remont_list.grid-4 
					-for(i = 0; i < 4; i++)
						- let rTitle = ['Однокомнатная квартира', 'Двухкомнатная квартира', 'Трехкомнатная квартира', 'Свыше 100 м2']
						- let square = ['до 40 м2', 'до 60 м2', 'до 90 м2', '']
						- let time = ['2 месяца', '3 месяца', '4 месяца', 'Индивидуально']
							li 
								h3.mb8.fz23=rTitle[i]
								if square[i]
									span=square[i]
								p Без учёта просушки штукатурных работ/стяжки
								span.fz23.color-vio_txt=time[i]
	section.example.p100 
		.section_in 
			.example_main 
				.example_head.mb8 
					h5 Примеры работ
					.example_nav 
						.example__nav_btn.prev-slide
							+icon('next')
						.example__nav_btn.next-slide
							+icon('next')
				.example_slider.swiper 
					.swiper-wrapper
						-for(i = 0; i < 12; i++)
							.swiper-slide 
								a(href="i/work.jpg" data-fancybox) 
									img(src="i/work.jpg", alt="")
	section.step.p100 
		.section_in 
			.step_main 
				h5.mb8 Из каких этапов состоит ремонт?
				ul.step_list.grid-3 
					-for(i = 0; i < 6; i++)
						- let stepTitle = ['01. Заявка', '02. Расчет стоимости, указание сроков', '03. Закупка материалов', '04. Отделка/ремонт', '05. Технический надзор', '06. Прием работ']
						- let stepTxt = ['Вы оставляете заявку на расчет стоимости ремонта и встречаетесь с замерщиком (Работаем и по удаленке).', 'На основании Ваших пожеланий и технических возможностей, производится сметный расчёт в короткий срок.', 'После утверждения сметы, предоставляем рекомендации и выбираем материалы вместе, либо самостоятельно.', 'В течение 3х рабочих дней начинаем отделочные работы.', 'Проверка всех работ на качество и соответствие нормативных документов. Производится на каждом этапе строительства.', 'Каждый этап работ сдаётся Вам отдельно и оформляется документально.']
							li.step_item 
								.step_item--img 
									img(src=`i/step/step-${i}.jpg`, alt=`step-${i}`)
								.step_item_content 
									h3.fz23=stepTitle[i]
									p=stepTxt[i]
	section.action.m100 
		.section_in 
			.action_main 
				.action_head.mb8 
					h6 Заголовок для акции
					p.custom-desk Почему мы Вам понравимся? Мы работаем в белую. Все скидки наших поставщиков - ваши!
				.action_form
					div
						+input({
							place: 'Ваше имя',
						})
					div
						+input({
							place: 'Ваш телефон',
							type: 'tel',
						})
					div
						+btn({
							color: 'vio',
							type: 'submit',
						})
					.form_notice!='Отправляя форму, вы соглашаетесь с <a href="/" target="_blank">политикой конфиденциальности.</a>'
	section.reviews.p100 
		.section_in 
			.reviews_main 
				.reviews_head.mb100 
					h6 Отзывы клиентов
					.reviews_more 
						a(href="#")
							p Больше отзывов смотрите
							.reviews_more--icon 
								img(src="i/social/vk.png", alt="")
				ul.reviews_list.mb8 
					-for(i = 0; i < 2; i++)
						- let revName = ['Татьяна', 'Михаил']
						- let revType = ['Косметический ремонт', 'Индивидуальный ремонт']
						- let revTxt = ['Свой ремонт мы делали через "Время комфорта" дистанционно. В задачу были поставлены очень сжатые сроки ремонтных работ, нам говорили, что этого мало и ребята не успеют. В результате квартира была сдана даже раньше чем мы обозначили. Ребята очень кропотливо и ответственно относятся к своей работе.', 'Я несколько лет нахожусь за границей и прилететь не было возможности. Возникла необходимость сделать ремонт в нежилом помещении, после сдачи здания в эксплуатацию застройщиком. Позвонил в компанию "Время комфорта". Через мессенджер познакомился с директором Андреем и дистанционно заключил договор на проведение ремонта. Цены на строительные работы для меня были приемлемые. Так как у меня не было возможности приобретать материал и контролировать качество(хотя был один человек с моей стороны(куратор), материалы закупала фирма и предоставляла регулярно отчёт - всё было прозрачно! Работы проводились согласно графика. Видео отчет предоставлялся еженедельно, а так же были и остановки в работе, но меня заверили, что при необходимости и возможности, ребята доделают объект. Так и получилось! Мне понравилось, что все обязательства взятые на себя компания выполнила, а так же злоупотреблений с закупкой материалов не обнаружил. Качество выполненного ремонта оцениваю на отлично - оценил когда прилетел в Краснодар. Планирую и в дальнейшем сотрудничать с данной компанией. Рекомендую! Ребята знают что делают и трепетно относятся к качеству!']
						- let revImg = ['wooman', 'man']
							li.reviews_item.showMoreBlock 
								.reviews_item--img 
									img(src=`i/reviews/${revImg[i]}.jpg`, alt=revImg[i])
								.reviews_item--content 
									.reviews_item--head 
										h3.fz23=revName[i]
										span=revType[i]
									.reviews_item--txt.showMoreTxt!=revTxt[i]
									.reviews_itemMore.showMoreBtn Подробнее
				+btn({
					class: 'custom-margin',
					name: 'Показать еще',
					type: 'link',
					color: 'vio'
				})
	section.faq.p100
		.section_in 
			.faq_main 
				h6.mb8 FAQ
				ul.faq_list 
					-for(i = 0; i < 4; i++)
						- let accTitle = ['Сколько стоит вызов замерщика?', 'Можно обратиться со своим дизайн-проектом?', 'Может ли заказчик сам предоставить материалы?', 'Сколько времени длится ремонт?']
							li.faq_item_w 
								.faq_item
									.faq_item--head 
										p.fz23=accTitle[i]
										.faq_item_arrow 
											+icon('global-arrow')
									.faq_item--content 
										p Конечно. Об этом нужно будет сказать замерщику или нашему менеджеру по телефону до начала составления договора.
		